<?xml version="1.0" encoding="UTF-8"?>

<vivo> 
  <setting> 
    <autoBak>true</autoBak>  
    <mysqlPath>C:\Users\Administrator\Desktop\test\test11</mysqlPath>  
    <debugMode>false</debugMode>  
    <cbxSplitDataInput>true</cbxSplitDataInput>  
    <splitDataInputForder>C:\Users\Administrator\Desktop\vivo\1、原始文件</splitDataInputForder>  
    <cbxSplitDataOutput>true</cbxSplitDataOutput>  
    <splitDataOutputForder>C:\Users\Administrator\Desktop\vivo\2、译前处理结果</splitDataOutputForder>  
    <cbxMergeDataInput>true</cbxMergeDataInput>  
    <mergeDataInputForder>C:\Users\Administrator\Desktop\vivo\3、译后回稿</mergeDataInputForder>  
    <cbxMergeDataOutput>true</cbxMergeDataOutput>  
    <mergeDataOutputForder>C:\Users\Administrator\Desktop\vivo\4、译后处理结果</mergeDataOutputForder> 
  </setting> 
</vivo>
